@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* 
{
	font-family: 'Raleway', sans-serif;
}

/* -------------------Définition de la taille du site--------------------------- */

body {
	width: 95%;
	margin: 0 auto; 
}

#bloc_page {
    box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
}

h1 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em
}
/* -------------------HEADER--------------------------*/

header {
    margin-top: 0;
    margin-bottom: 15px;
    width: 100%;
}

object {
    margin-top: 25px;
}

nav {
    float: right;
    right: 5px;
}

nav li {
    display: inline-block;
    margin-top:0;
    padding: 25px;
}

.active, .active :visited {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

nav a {
    text-decoration: none;
}

/* -------------------------Under HEADER--------------------*/

.underheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.underheader h1, p{
    margin: 2px 5px;
}

form {
    margin-top: 10px;
    display: flex;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

form input {
    border: 1px solid #F2F2F2;
    padding: 5px;
    font-weight: bolder;
}

form button {
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: white;
    border: none;
}

/* ----------------------FILTRES-----------------*/

.filter {
    display: flex;
    padding: 10px;
}

.filter > ul > li {
    display: inline;
}

.icone {
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFC;
    padding: 10px;
}

.filter button {
    text-transform: capitalize;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    background-color: white;
    padding: 0;
    float: right;
}

/* ---------------Information------------------------*/


/*-------------------FLEXBOX-------------------------*/
/*---------------hebergements marseille------------*/

.flexbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 65%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.flexbox h2 {
    width: 100%;
    height: auto;
    padding-left: 25px; 
    margin-bottom: 0;
}

.flex-container {
    width: 28%;
    height: auto; 
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 2px black;
    padding: 4px;
    box-shadow: 3px 5px 5px #e0dede;
}

a img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

figcaption p, h4, .blue, .grey {
    padding: 2px 0;
    margin: 5px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}


/*--------------------Section Les + Populaires---------------------*/

.content_populaire {
    width: 32%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 15px 0;
}

.flex-container_populaire {
    width: 90%;
    height: auto; 
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 2px black;
    padding: 4px;
    box-shadow: 3px 5px 5px #e0dede;
}

.flex-container_populaire > a img  {
    float: left;
    height: auto;
    width: 30%;
    border-radius: 15px 0 0 15px;}

.flex-container_populaire > figcaption {
    float: left;
}

.titre_populaire {
    position: relative;
}

.iconePopulaire {
    position: absolute;
    font-size: 20px ;
    top: 25px;
    right: 35px;
}

/*------------------Partie Activités sur Marseille-----------------*/
.content_activites {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 15px 0;
}

.flex-container_activites {
    width: 25%;
    height: auto; 
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 2px black;
    padding: 4px;
    box-shadow: 3px 5px 5px #e0dede;
}

.little {
    width: 22%;
    max-height: 215px;
}