@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* 
{
	font-family: 'Raleway', sans-serif;
}

/* -------------------Définition de la taille du site--------------------------- */

body {
	width: 98%;
	margin: 0 auto; 
}

#bloc_page {
    box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 1.2em;
}
h3 {
    font-size: 1em
}
/* -------------------HEADER--------------------------*/

header {
    margin-top: 0;
    margin-bottom: 25px;
    width: 100%;
}

object {
    margin-top: 25px;
}

nav {
    float: right;
    right: 5px;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 30px;
}

.active, .active :visited {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

nav a {
    text-decoration: none;
}

/* -------------------------Search bar--------------------*/

.header-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.header-title h1, p{
    margin: 2px 5px;
}

form {
    margin-top: 10px;
    display: flex;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

form > input {
    border: 1px solid #F2F2F2;
    padding: 5px;
    font-weight: bolder;
}

form > button {
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: white;
    border: none;
}

form > button:focus, form > button:active {
    border: transparent;
    clicker: pointer;
    
}

/* ----------------------FILTRES-----------------*/
.filter-container {
    display: flex;
    margin-top: 15px;
}
.btn
{
    white-space: wrap;
    font-size: 0.8em;
    display: inline;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    margin-left: 10px;
}

.btn:hover
{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus
{
    box-shadow: 0 3px 10px 0 rgba (0, 0, 0, 0.4);
}

.btn > span, .icone {
    float: left;
    padding: 13px;
    line-height: 1em;
}

.btn > span {
    padding: 14px 14px 9px 10px;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    
}

.btn:focus {
    color: #0065FC;
    background: #DEEBFC;
}

.btn > .icone {
    position: relative;
    top: -1px;
    left: -1px;
    width: 16px;
    text-align: center;
    font-size: 1.25em;
    background: #DEEBFC;
    border-radius: 50%;
    color: #0065FC;
}


/* ---------------Information------------------------*/

.information {
    display: flex;
    margin-top: 20px;
}

.information > p {
    margin-left: 10px;
    font-size: 0.9em;
}

.icon-info {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    object-fit: cover;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 25px;
    padding: 5px;
}

/*-------------------FLEXBOX-------------------------*/

.flexbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
/*---------------hebergements marseille------------*/

.content {
    width: 60%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 15px;
    margin: 15px;
}

.afficher {
    width: 100%;
    margin-left: 30px;
}

.flexbox h2 {
    width: 100%;
    height: auto;
    padding-left: 25px; 
    margin-bottom: 0;
}

.flexbox a, a:visited{
    text-decoration: none;
    color: black;
}

.flex-container {
    width: 28%;
    max-height: 230px; 
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 2px black;
    padding: 4px;
    box-shadow: 3px 5px 5px #e0dede;
}

a img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

a img .big {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

figcaption p, h4, .blue, .grey {
    padding: 2px 0;
    margin: 3px 5px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}


/*--------------------Section Les + Populaires---------------------*/

.content_populaire {
    width: 32%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 15px 0;
}

.flex-container_populaire {
    width: 80%;
    height: auto; 
    background-color: white;
    border-radius: 15px;
    margin:15px;
    box-shadow: 2px black;
    padding: 4px;
    box-shadow: 3px 5px 5px #e0dede;
}

.flex-container_populaire > a img  {
    float: left;
    height: auto;
    width: 35%;
    border-radius: 15px 0 0 15px;}

.flex-container_populaire > figcaption {
    float: left;
}

.titre_populaire {
    display: inline-flex;
    bottom: 0;
    
    padding: 10px;
}

.iconePopulaire {
    position: ;
    font-size: 20px ;
    top: 25px;
    right: 35px;
}

/*------------------Partie Activités sur Marseille-----------------*/
.content_activites {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 15px 0;
}

.flex-container_activites {
    width: 25%;
    height: auto; 
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 2px black;
    padding: 4px;
    box-shadow: 3px 5px 5px #e0dede;
}

.little {
    width: 22%;
    max-height: 215px;
}

/*------------------------FOOTER--------------------------*/

footer {
    display: absolute;
    bottom: 0;
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

footer > ul {
    margin-right: 150px;
}

footer > ul > h3 {
    margin-left: 15px;
}

footer > ul > li {
    list-style-type: none;
    padding: 10px;
}

footer > ul> li > a {
    text-decoration: none;
}

/*-------------------MEDIA QUERIES-----------------------------*/

@media screen and (max-width:700px) {
    
/*----------------------FOOTER------------------------*/
    footer {
        display: flex;
        flex-direction: column;
    }
}